/*------------------------------------------------------------------
Root
*/
:root{
    font-size: 19px;

/*Var declarations*/

}

/*------------------------------------------------------------------
Reset styles
*/
* {box-sizing: border-box;}

html, body{
    width: 100%;
    margin: 0;
    font-size: 1rem;
    line-height: 1.77;
    font-family: sans-serif;
}

a{text-decoration: none;}

/*------------------------------------------------------------------
Main styles
*/

header{
    display: flex;
    background-color: black;
    width: 100%
}

header .logo{
    display: block;
    max-width: 100%;
}
@media (min-width: 992px){
    header .logo{
        max-width: 50%;
        height: auto;
    }
}